header{
    visibility: hidden;
}

footer{
    visibility: hidden;
}

section{
    /* background-image: url('https://storage.pixteller.com/designs/designs-images/2019-03-27/04/business-background-backgrounds-business-1-5c9b8f7cbee33.png'); */
    background-color: black;
}

h1{
    text-align: center;
}
