header{
    visibility: hidden;
}

footer{
    visibility: hidden;
}

section{
    /* background-image: url('https://storage.pixteller.com/designs/designs-images/2019-03-27/04/business-background-backgrounds-business-1-5c9b8f7cbee33.png'); */
    background-image: url('https://getwallpapers.com/wallpaper/full/a/a/9/760156-full-size-security-wallpapers-1920x1080-cell-phone.jpg');
    background-size: cover;
}

h1{
    text-align: center;
}
