header{
    visibility: hidden;
}

footer{
    visibility: hidden;
}

section{
    /* background-image: url('https://storage.pixteller.com/designs/designs-images/2019-03-27/04/business-background-backgrounds-business-1-5c9b8f7cbee33.png'); */
    background-image: url('https://helbor.blob.core.windows.net/medias/website-institucional/Investir_em_imoveis_saiba_por_onde_comecar_1e243a70f6.jpg');
    background-size: cover;
}

h1{
    text-align: center;
}

